.text_sm {
  font-size: 1rem;
}

.text_md {
  font-size: 1.5rem;
}

.text_lg {
  font-size: 2rem;
}

.bg_primary {
  background-color: #0070f3;
}

.bg_inverse {
  background-color: royalblue;
}

.bg_dander {
  background-color: red;
}
