@import '../../assets/scss/abstracts/variables';

.container {
  width: 1170px;
  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 15px;
    right: 15px;
  }
}

.navbar,
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}

.navbar {
  box-shadow: $navbar-shadow;
  height: 6rem;
  background-color: $navbar-body-color;
  padding: $navbar-padding-y $navbar-padding-x;
  border-bottom: 1px solid $border-color;

  .search {
    position: relative;
    margin-left: 5rem;

    input {
      height: 2rem;
      width: 20vw;
      border-radius: 1rem;
      background-color: $search-input-color;
      border: none;
      padding: 0.5rem 2.5rem;
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      left: 10px;
      top: 5px;
      font-size: 1.5rem;
    }
  }

  .container {
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  /*
    |-----------------------------------
    | Start navbar logo or brand etc..
    |-----------------------------------
    */
  .navbar-header {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  /*
    |-----------------------------------
    | Start navbar menu
    |-----------------------------------
    */
  .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;

    @media (max-width: 768px) {
      display: none;
      text-align: center;
    }

    // Ul
    .navbar-nav {
      margin-left: auto;
      flex-direction: row;
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .cart-wrapper {
        background-color: #cce3d7;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        svg {
          color: #007031;
        }
      }

      .user-icon {
        font-size: 2.5rem;
      }

      .nav-item {
        margin-right: 2rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .nav-text {
          color: $text-light !important;
        }
        .count {
          position: absolute;
          top: 0.2rem;
          right: 0.5rem;
          height: 1.5rem;
          width: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          border-radius: 50%;
          background-color: #007031;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        display: block;
        border-top: 1px solid #eee;
        margin-top: 1rem;
      }
    }
  }
}
